<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="/styles/college.css">




<title>College-Tracker</title>


	
</head>

<body>



<!--<header>
<div id="masthead"> 
  		<span id="logo" >
  		<!--<img src="x.gif"/>-->
  	<!--	</span>
  		<h1><p style="text-align: center;"><a href="college.html">College-Tracker</a></p></h1>
</div>
</header>
<!--<header class="main-header" role="banner">
<!--  <img src="headerImage.png" alt="header Image"style="width:100%;height:4%"/>
</header>-->
<!--<div id=another>Track your path to college</div> -->
 <div class="navbar navbar-default fixed-top" role="navigation" style="background-color:white; width:100%;">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="http://localhost:9000/#/">CollegeTrack</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li class="active"><a href="http://localhost:9000/#/">Home</a></li>
              <li><a ng-href="/views/mission.html">About</a></li>
              <li><a ng-href="#/">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

<!-- slideshow-->

 <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="/images/slide3.jpg" style="width:100%;"alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h2>Find, follow the path...</h2>
              <!--<p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>-->
             <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>-->
            </div>
          </div>
        </div>
       
    </div><!-- /.carousel -->
<!--end nav bar -->
<div id="about">
  <h2>Our Mission</h2>

<p>Want to know what to do to get into college and when? Register with College Tracker and and plan out all<br> 
the steps it takes to get into the college that is right for you! Upon registration, the user will have access to college resources,<br>
an interactive planner and various tools to aid in your search for additional financial assistance. Attending college doesn't have<br>
to be a distant dream. Use College Tracker as your step-by-step guide onto the road to college and make it your reality. 
</p>
<h2>Scholarship Search Engines</h2>
  <p><a href="https://cappex.com/">Cappex</a></p>
  <p><a href="http://www.scholarshipmonkey.com/">Scholarship Monkey</a></p>
  <p><a href="http://fastweb.com/">Fast Web</a></p>
  <p><a href="http://scholarships360.org/">Scholarships360</a></p>
  </div>

</body>
<!--<link rel="stylesheet" type="text/css" href="bootstrap/js/bootstrap.js">-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</html>