<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">

<link rel="stylesheet" type="text/css" href="college.css">




<title>College-Tracker</title>


	
</head>

<body>


<!--<header>
<div id="masthead"> 
  		<span id="logo" >
  		<!--<img src="x.gif"/>-->
  	<!--	</span>
  		<h1><p style="text-align: center;"><a href="college.html">College-Tracker</a></p></h1>
</div>
</header>
<!--<header class="main-header" role="banner">
<!--  <img src="headerImage.png" alt="header Image"style="width:100%;height:4%"/>
</header>-->
<!--<div id=another>Track your path to college</div> -->









<div id="about">
  <h2>Our Mission</h2>
  	<p>Scholarship Search Engines</p>
	<p><a href="https://cappex.com/">Cappex</a></p>
	<p><a href="http://www.scholarshipmonkey.com/">Scholarship Monkey</a></p>
	<p><a href="http://fastweb.com/">Fast Web</a></p>
	<p><a href="http://scholarships360.org/">Scholarships360</a></p>


  </div>
</body>
<!--<link rel="stylesheet" type="text/css" href="bootstrap/js/bootstrap.js">-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
</html>